<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Perfil del Paciente</title>
  <link rel="stylesheet" th:href="@{/css/Usuario/perfil.css}"/>
  <link rel="stylesheet" th:href="@{/css/fragments/navbar.css}"/>
</head>
<body>

<!-- Navbar fragment -->
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
  <aside class="sidebar">
    <div class="profile-info">
      <img src="https://static.vecteezy.com/system/resources/previews/051/270/245/non_2x/cartoon-people-avatar-minimalist-human-avatar-versatile-icon-for-online-projects-an-avatar-for-the-profile-picture-of-someone-vector.jpg" alt="Foto de Perfil" class="profile-img"/>
      <h3 th:text="${usuario.nombre}">Nombre Usuario</h3>
    </div>
    <ul class="sidebar-links">
      <li><a href="#informacion">Información Personal</a></li>
      <li><a href="#historial">Historial Médico</a></li>
      <li><a href="#tratamientos">Tratamientos</a></li>
      <li><a href="#citas">Citas</a></li>
    </ul>
  </aside>

  <main class="content">

    <!-- Información Personal -->
    <section id="informacion" class="section-box">
      <h2>Información Personal</h2>
      <div class="info-item">
        <span>Correo:</span>
        <p th:text="${usuario.correo}">correo@mail.com</p>
      </div>
      <div class="info-item">
        <span>Teléfono:</span>
        <p th:text="${usuario.telefono}">+123 456 789</p>
      </div>
    </section>

    <!-- Historial Médico -->
    <section id="historial" class="section-box">
      <h2>Historial Médico</h2>
      <ul>
        <li th:each="h : ${historial_medico}">
          <span th:text="${h.observaciones}">Consulta general</span>
        </li>
      </ul>

    </section>
    <a th:href="@{/perfil/logout}" class="btn-logout">Cerrar sesión</a>


    <!-- Tratamientos -->



  </main>
</div>

<!-- Cerrar sesión -->


<script th:src="@{/js/Usuario/perfil.js}"></script>
</body>
</html>
