body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #14c0b7d2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    width: 300px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }
    50% {
        transform: translateY(-15px);
        box-shadow: 0 12px 20px rgba(0,0,0,0.2);
    }
}

.login-container img {
    width: 80px;
    margin-bottom: 20px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #4da314;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #e70f0f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container a {
    display: block;
    margin-top: 10px;
    color: #333;
    font-size: 14px;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.error-message {
    color: red;
    margin-bottom: 10px;
    font-size: 14px;
}
